.feedback {
    background: #ec1a23;
    padding: 7px 14px;
    color: #ddd;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    margin: 14px;
    right: 0;
}
