@keyframes pick-food {
    from,
    to {
        background-position-x: left;
    }
    50% {
        background-position-x: right;
    }
}
@keyframes change-food {
    from {
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}
@keyframes move-hand-sideways {
    from,
    10%,
    90%,
    to {
        left: 20%;
    }
    40%,
    60% {
        left: 70%;
    }
}
@keyframes move-hand-updown {
    from,
    10%,
    90%,
    to {
        top: 20%;
    }
    40%,
    60% {
        top: 70%;
    }
}
@keyframes click {
    96% {
        background-position-x: right;
    }
    98% {
        background-position-x: left;
    }
}

@keyframes fast-click {
    from {
        background-position-x: right;
    }
    to {
        background-position-x: left;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}
.half-screen {
    flex: 1 1 0;
}
.opt-a,
.opt-b,
.bad-recommendation,
.good-recommendation {
    background-image: url(/assets/sprites/food-sprites.svg);
    background-size: 200%;
}
.opt-a,
.opt-b {
    animation: pick-food 8s steps(1) 0s infinite;
}
.no-overflow {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.opt-a {
    background-position-y: top;
}
.opt-b {
    background-position-y: bottom;
}
.bad-recommendation {
    animation: change-food 4s steps(1) 0s 1 forwards;
    background-position: bottom left;
}
.good-recommendation {
    background-position: top right;
}
.clicker,
.hand-to-red,
.hand-to-green,
.hand-on-green {
    height: 0px;
    width: 10%;
    padding-bottom: 10%;
    position: absolute;
}
@keyframes hand-to-red {
    from {
        top: -50vh;
        left: 120vw;
    }
    90%,
    to {
        top: 4rem;
        left: calc(50vw + 3rem);
    }
}
@keyframes hand-to-green {
    from {
        left: calc(50vw + 3rem);
    }
    90%,
    to {
        left: calc(50vw - 5rem);
    }
}

.hand-to-red {
    position: absolute;
    top: 4rem;
    left: calc(50vw + 3rem);
    animation: hand-to-red 4s ease 0s 1 forwards;
}
.hand-to-green,
.hand-on-green {
    position: absolute;
    top: 4rem;
    left: calc(50vw - 5rem);
}
.hand-to-green {
    animation: hand-to-green 1s ease 0s 1 forwards;
}
.hand {
    height: 0px;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(/assets/sprites/selector-sprite.svg);
    background-size: 200% 100%;
    background-position-x: left;
    background-position-y: top;
}
.clicker .hand {
    animation: click 4s steps(1) 0s infinite;
}
.hand-to-red .hand {
    animation: click 4s steps(1) 0s 1;
}
.feedback {
    position: fixed;
    bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.accept,
.reject {
    display: flexbox;
    bottom: 100px;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    font-size: 3rem;
    margin: 2rem;
}

.accept {
    background-color: green;
}

.reject {
    background-color: red;
}

/* orientation dependent settings */
.screen {
    flex-direction: column;
}
.half-screen {
    width: 50vh;
    height: 100vw;
}
.opt-a,
.opt-b {
    width: 40vh;
    padding-bottom: 40vh;
    margin: 5vh calc(50vw - 20vh);
}
.bad-recommendation,
.good-recommendation {
    width: 80vh;
    padding-bottom: 80vh;
    margin: 10vh calc(50vw - 40vh);
}
.clicker {
    top: 20%;
    left: 40%;
    animation: move-hand-updown 8s ease 0s infinite;
}
.instructions-top,
.instructions-bottom {
    position: fixed;
    top: 35%;
    width: 80%;
    margin: 10%;
    padding: 5%;
    background: #ffffffdd;
    color: black;
}
.screen h2 {
    margin-top: 0px;
}

@media (min-aspect-ratio: 1/1) {
    /* override values for landscape */
    .screen {
        flex-direction: row;
    }
    .half-screen {
        width: 50vw;
        height: 100vh;
    }
    .opt-a,
    .opt-b {
        width: 40vw;
        padding-bottom: 40vw;
        margin: calc(50vh - 20vw) 5vw;
    }
    .bad-recommendation,
    .good-recommendation {
        width: 80vw;
        padding-bottom: 80vw;
        margin: calc(50vh - 40vw) 10vw;
    }
    .clicker {
        top: 40%;
        left: 20%;
        animation: move-hand-sideways 8s ease 0s infinite;
    }
    .instructions-top {
        top: 0%;
    }
    .instructions-bottom {
        top: 60%;
    }
}

.procurement {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cook,
.deliver {
    display: flexbox;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    font-size: 4rem;
    margin: 1rem;
    background-color: grey;
}

.hand-on-green .hand {
    animation: fast-click 0.2s steps(1) 0.2s 1;
}
.swap .procurement {
    opacity: 0;
}
.swap .procurement {
    animation: appear 0s steps(1) 1s 1 forwards;
}
.swap .feedback button {
    animation: disappear 0s steps(1) 1s 1 forwards;
}
