/*@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');*/

@font-face {
    font-family: "Mouse Memoirs";
    font-style: normal;
    font-weight: 400;
    src: local("Mouse Memoirs"), local("MouseMemoirs-Regular"),
        url(/assets/fonts/MouseMemoirs-Regular.ttf) format("truetype");
}

.onscreen,
.transitioning {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #dddddd00;
    z-index: 51;
}
.caption {
    /*    height: 100%; */
    min-height: 3rem;
    max-height: 25vh;
    width: 100;
    margin: 0;
    padding: 0;
    text-align: left;
}
.caption * {
    margin: 0;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    display: inline;
}
.buttons {
    display: block;
}
.buttons button {
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    color: white;
    background-color: #08a;
    margin: 1em 0.5em 0 0.5em;
    border: 1px solid black;
}
.speech-bubble {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 50vw;
    min-height: 10vh;
    box-sizing: content-box;
}

.transitioning .speech-bubble {
    opacity: 0;
}
.onscreen .speech-bubble {
    opacity: 1;
    /*    transition: opacity 0s 0.6s;*/
}
.chef-sprite {
    height: 0px;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(/assets/sprites/talking-chef.svg);
    background-size: 200% 100%;
    background-position: 0% 0%;
}
.talking {
    animation: talk 0.3s steps(1) 0s infinite;
}
.exiting {
    animation: exit 0.6s;
}
.entering {
    animation: enter 0.6s;
}

.chef-box {
    height: 0px;
    width: 35vmin;
    padding-bottom: 35vmin;
    position: fixed;
    top: 25%;
    left: -10vmin;
}
/* override for landscape */
@media (min-aspect-ratio: 1/1) {
    .speech-bubble {
        width: 40vw;
        height: 30vmin;
        min-height: calc(4.5rem);
    }
    .chef-box {
        top: 10%;
        left: 0;
    }
    .caption * {
        font-size: 2rem;
    }
}

/*
.offscreen {
    left: -300vmin;
    transition: left 400ms ease-in;
}
.onscreen {
    left: -10vmin;
    /* bounce 
    transition: left 500ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
*/

@keyframes talk {
    from,
    50%,
    100% {
        background-position: 0% 0%;
    }
    1% {
        background-position: -100% 0%;
    }
}

.speech-bubble {
    padding: 1em;
    margin-left: 2em;
    border: 2px solid black;
    text-align: center;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.speech-bubble:before {
    content: "";
    position: absolute;
    left: -40px;
    top: 50px;
    width: 0;
    height: 0;
    border-top: 12px solid black;
    border-left: 40px solid transparent;
    transform: skewY(20deg);
}
.speech-bubble:after {
    content: "";
    position: absolute;
    left: -24px;
    top: 56px;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 30px solid transparent;
    transform: skewY(20deg);
}

@keyframes enter {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes exit {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}
