/* default values for portrait */
.procurement {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
*/
}

.methods {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cook,
.deliver {
    display: flexbox;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    font-size: 4rem;
    margin: 1rem;
}

.cook {
    background-color: grey;
}

.deliver {
    background-color: grey;
}
